<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="SnippetMachineState" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Snippets>
	<Snippet id="MachineStateSnippet" xsi:type="session" type="IndexText" formatItem="IAT/MachineState.{1}" />
  </Snippets>
</SnippetsSet>
